@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Vidaloka&display=swap');

body {
  background-color: rgb(187, 224, 221);
  font-family: Mulish;
}

body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  text-transform: uppercase;
  font-family: Vidaloka;
  font-size: 50px;
  color: rgb(106, 106, 107);
}