.search {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid coral;
    background-color: antiquewhite;
    padding: 5px 10px;
}

.search input {
    border:none;
    background-color: transparent;
    height: 100%;
}

.search input:focus {
    outline:none;
}
